<!DOCTYPE html>
<html>
<head>
  <title>Character Creator</title>
  <meta charset="utf-8">
  <link href="glassfox.css" rel="stylesheet">
  <link href="char.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="char.js"></script>
</head>

<body ng-app="Character" id="page">
  <ui-view></ui-view>

  <script type="text/ng-template" id="/home.html">
    <h1>Character Creator</h1>

    <div class="floatBox">

      <div class="flex">
        <form ng-submit="addCharacter()">
          <h3>Add Character</h3><br>
          <input type="text" placeholder="New Character Name" ng-model="name" required></input><br>
          <select ng-options="x for x in genders" ng-model="gender" required>
            <option value=""></option>
          </select>
          <button type="submit">Submit</button>
        </form>
      </div>

      <div style="width:50%; display:inline-block; padding-left:1em">
        <h3>Character List</h3><br>
        <div ng-repeat="character in chars">
          <div class="cbox">
            <a href="#/characters/{{chars.indexOf(character)}}">Edit Appearance</a>
            {{character.name + ' (' + character.gender + ')'}}
          </div>
        </div>
      </div>



    </div>
  </script>

  <script type="text/ng-template" id="/characters.html">
    <div class="floatBox" style="height:100%">

      <div class="flex">
        <h3 style="padding-top:1em">Attributes</h3>
        <form ng-submit="addAttributes()">
          <label for="h">Hair Color</label>
          <select id="h" ng-model="hair" ng-options="x for x in hairColors" required>
            <option value=""></option>
          </select><br>
          <label for="e">Eyes</label>
          <select id="e" ng-model="eye" ng-options="x for x in eyes" required>
            <option value=""></option>
          </select><br>
          <label for="s">Skin Color</label>
          <select id="s" ng-model="skin" ng-options="x for x in skinColors" required>
            <option value=""></option>
          </select><br>
          <label for="o">Outfit</label>
          <select id="o" ng-model="outfit" ng-options="x for x in outfits" required>
            <option value=""></option>
          </select><br>
          <textarea ng-model="personality" placeholder="Describe this character's personality" required></textarea><br>
          <button type="submit">Save</button>
        </form>
      </div>

      <div class="flex">

        <ul><h3>Name: {{char.name}}</h3>
          <li>Hair: {{char.attributes.hair}}</li>
          <li>Eyes: {{char.attributes.eye}}</li>
          <li>Skin: {{char.attributes.skin}}</li>
          <li>Outfit: {{char.attributes.outfit}}</li>
          <li>Personality Description: {{char.attributes.personality}}</li>
        </ul>

        <div>
          <div class="imgContainer">
            <img src="img/outfit_{{char.attributes.outfit}}.png"/>
            <img src="img/skin_{{char.attributes.skin}}.png"/>
            <img src="img/eyes_{{char.attributes.eye}}.png"/>
            <img src="img/{{char.gender}}hair_{{char.attributes.hair}}.png"/>
          </div>
        </div>
      </div>

    </div>
  </script>

</body>
</html>
