body {
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.cbox {
  margin: .5em;
  margin-bottom: .75em;
  padding: .5em;
  background-color: #C5D4DD;
  border-radius: .25em;
}

.flex {
  width:50%;
  display:inline-block;
  float:left;
  border:1px solid lightgray;
  border-radius: .25em;
  background-color: #475964;
  color: white;
}

p {
  margin: .25em;
  padding: 1em;
  background-color: #F4F8FF;
  border-radius: .25em;
}

h1 {
  font-size: 4em;
}

h4 {
  font-size: 1.2em;
  float: right;
}

h3 {
  text-align: center;
}

.imgContainer {
  position: relative;
}
img {
  position: absolute;
  width: 100%;
  height: auto;
}

hr {
  margin: 2em;
}

form {
  align-items: center;
  margin: .5em;
}

a {
  float: right;
}

ul {
  background-color: white;
  color: black;
  padding: 1.5em;
}
